html,
body {
	height: 100%;
	font-family: "Readex Pro", sans-serif;
	position: fixed;
}

:root {
	--color-text-light: #000;
	--color-text-dark: #ddd;
	--color-text: var(--color-text-light);
	--background-color: #e4e4e4;
	--vp-c-divider: rgba(60, 60, 67, 0.12);
}

html.dark {
	--color-text: var(--color-text-dark);
	--background-color: #141414;
	--vp-c-divider: rgba(82, 82, 89, 0.32);
	color: var(--color-text);
	background-color: var(--background-color);
	color-scheme: dark;
}

.CodeMirror {
	height: 100% !important;
	width: 100% !important;
	font-family: inherit;
}

.cm-s-vars .cm-tag {
	color: var(--cm-keyword);
}

:root {
	--cm-foreground: #393a3480;
	--cm-background: transparent;
	/* scrollbars colors */
	--cm-ttc-c-thumb: #eee;
	--cm-ttc-c-track: white;
}

.javascript {
	--cm-boolean: var(--cm-literal);
	--cm-builtin: #e0a569;
	--cm-class: var(--cm-literal);
	--cm-comment: #6b737c;
	--cm-constant: var(--cm-variable);
	--cm-decorator: var(--cm-class);
	--cm-deleted: #a14f55;
	--cm-foreground: #0431fa;
	--cm-function: var(--cm-variable);
	--cm-inline-background: var(--cm-background);
	--cm-interpolation: var(--cm-literal);
	--cm-json-property: var(--cm-property);
	--cm-keyword-control: var(--cm-keyword);
	--cm-keyword: #e68989;
	--cm-line-highlight-background: #444444;
	--cm-line-number-gutter: #f8f8f8;
	--cm-line-number: #888888;
	--cm-literal: #212121;
	--cm-namespace: var(--cm-function);
	--cm-number: #1976d2;
	--cm-operator: var(--cm-punctuation);
	--cm-property: var(--cm-literal);
	--cm-punctuation: var(--cm-keyword);
	--cm-regex: var(--cm-string);
	--cm-selection-background: #add6ff;
	--cm-selector: var(--cm-keyword);
	--cm-string: #26883d;
	--cm-symbol: var(--cm-variable);
	--cm-variable: #7b52c6;
}

.text-x-pgsql {
	--cm-boolean: var(--cm-literal);
	--cm-builtin: #080808;
	--cm-class: var(--cm-literal);
	--cm-comment: #6b737c;
	--cm-constant: var(--cm-variable);
	--cm-decorator: var(--cm-class);
	--cm-deleted: #a14f55;
	--cm-foreground: #080808;
	--cm-function: var(--cm-variable);
	--cm-inline-background: var(--cm-background);
	--cm-interpolation: var(--cm-literal);
	--cm-json-property: var(--cm-property);
	--cm-keyword-control: var(--cm-keyword);
	--cm-keyword: #800d00;
	--cm-line-highlight-background: #444444;
	--cm-line-number-gutter: #f8f8f8;
	--cm-line-number: #888888;
	--cm-literal: var(--cm-keyword);
	--cm-namespace: var(--cm-function);
	--cm-number: #0433ff;
	--cm-operator: var(--cm-punctuation);
	--cm-property: var(--cm-literal);
	--cm-punctuation: #080808;
	--cm-regex: var(--cm-string);
	--cm-selection-background: #add6ff;
	--cm-selector: var(--cm-keyword);
	--cm-string: #26883d;
	--cm-symbol: var(--cm-variable);
	--cm-variable: #080808;
}

.text-x-pgsql .cm-punctuation {
	color: var(--cm-punctuation);
}

.text-x-pgsql .cm-bracket {
	color: var(--cm-punctuation);
}

html.dark {
	--cm-scheme: dark;
	--cm-foreground: #d4cfbf80;
	--cm-background: transparent;
	/* scrollbars colors */
	--cm-ttc-c-thumb: #222;
	--cm-ttc-c-track: #111;
}

html.dark .javascript {
	--cm-boolean: var(--cm-literal);
	--cm-builtin: #e0a569;
	--cm-class: var(--cm-literal);
	--cm-comment: #6b737c;
	--cm-constant: var(--cm-variable);
	--cm-decorator: var(--cm-class);
	--cm-deleted: #a14f55;
	--cm-foreground: #ecc702;
	--cm-function: var(--cm-variable);
	--cm-inline-background: var(--cm-background);
	--cm-interpolation: var(--cm-literal);
	--cm-json-property: var(--cm-property);
	--cm-keyword-control: var(--cm-keyword);
	--cm-keyword: #f97583;
	--cm-line-highlight-background: #444444;
	--cm-line-number-gutter: #161616;
	--cm-line-number: #888888;
	--cm-literal: #79b8ff;
	--cm-namespace: var(--cm-function);
	--cm-number: #f8f8f8;
	--cm-operator: var(--cm-punctuation);
	--cm-property: var(--cm-literal);
	--cm-punctuation: var(--cm-keyword);
	--cm-regex: var(--cm-string);
	--cm-selection-background: #254f78;
	--cm-selector: var(--cm-keyword);
	--cm-string: #ffab70;
	--cm-symbol: var(--cm-variable);
	--cm-variable: #b392f0;
}

html.dark .text-x-pgsql {
	--cm-boolean: var(--cm-literal);
	--cm-builtin: var(--cm-foreground);
	--cm-class: var(--cm-literal);
	--cm-comment: #6b737c;
	--cm-constant: var(--cm-variable);
	--cm-decorator: var(--cm-class);
	--cm-deleted: #a14f55;
	--cm-foreground: #eeffff;
	--cm-function: var(--cm-variable);
	--cm-inline-background: var(--cm-background);
	--cm-interpolation: var(--cm-literal);
	--cm-json-property: var(--cm-property);
	--cm-keyword-control: var(--cm-keyword);
	--cm-keyword: #f97583;
	--cm-line-highlight-background: #444444;
	--cm-line-number-gutter: #161616;
	--cm-line-number: #888888;
	--cm-literal: var(--cm-keyword);
	--cm-namespace: var(--cm-function);
	--cm-number: #7d93f3;
	--cm-operator: var(--cm-punctuation);
	--cm-property: var(--cm-literal);
	--cm-punctuation: var(--cm-foreground);
	--cm-regex: var(--cm-string);
	--cm-selection-background: #254f78;
	--cm-selector: var(--cm-keyword);
	--cm-string: #ffab70;
	--cm-symbol: var(--cm-variable);
	--cm-variable: var(--cm-foreground);
}

html.dark .text-x-pgsql .cm-punctuation {
	color: var(--cm-punctuation);
}

html.dark .text-x-pgsql .cm-bracket {
	color: var(--cm-punctuation);
}

.splitpanes__pane {
	background-color: unset !important;
}

.splitpanes__splitter {
	position: relative;
	background-color: rgba(125, 125, 125, 0.1);
	z-index: 10;
}

.splitpanes__splitter:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	transition: opacity 0.4s;
	background-color: rgba(125, 125, 125, 0.1);
	opacity: 0;
	z-index: 1;
}

.splitpanes__splitter:hover:before {
	opacity: 1;
}

.splitpanes--vertical > .splitpanes__splitter:before {
	/* make vertical scroll usable */
	left: 0;
	right: -10px;
	height: 100%;
}

.splitpanes--horizontal > .splitpanes__splitter:before {
	top: 0;
	bottom: -10px;
	width: 100%;
}

.splitpanes.loading .splitpanes__pane {
	transition: none !important;
	height: 100%;
}

/* SCROLLS */
.scrolls::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
.scrolls {
	overflow: auto !important;
	scrollbar-width: thin;
	scrollbar-color: var(--cm-ttc-c-thumb) var(--cm-ttc-c-track);
}
.scrolls::-webkit-scrollbar-track {
	background: var(--cm-ttc-c-track);
}
.scrolls::-webkit-scrollbar-thumb {
	background-color: var(--cm-ttc-c-thumb);
	border: 2px solid var(--cm-ttc-c-thumb);
}
.scrolls::-webkit-scrollbar-thumb,
.scrolls-rounded::-webkit-scrollbar-track {
	border-radius: 3px;
}
.scrolls::-webkit-scrollbar-corner {
	background-color: var(--cm-ttc-c-track);
}
/* END SCROLLS */

.v-popper__popper .v-popper__inner {
	font-size: 12px;
	padding: 4px 6px;
	border-radius: 4px;
	background-color: var(--background-color);
	color: var(--color-text);
}

.v-popper__popper .v-popper__arrow-outer {
	border-color: var(--background-color);
}

/* CODEMIRROR SCROLLS */
.CodeMirror-scroll {
	/* hide FF native scrolls */
	scrollbar-width: none;
}
.CodeMirror-scroll::-webkit-scrollbar,
.codemirror-scrolls::-webkit-scrollbar {
	display: none;
}
.codemirror-scrolls {
	overflow: auto !important;
	scrollbar-width: thin;
	scrollbar-color: var(--cm-ttc-c-thumb) var(--cm-ttc-c-track);
}
/* the horizontal/vertical background */
.CodeMirror-simplescroll-horizontal,
.CodeMirror-simplescroll-vertical {
	background-color: var(--cm-ttc-c-track) !important;
	border: none !important;
}
/* the horizontal/vertical bubble background */
.CodeMirror-simplescroll-horizontal div,
.CodeMirror-simplescroll-vertical div {
	background-color: var(--cm-ttc-c-thumb) !important;
	border: none !important;
}
/* the right bottom corner background*/
.CodeMirror-scrollbar-filler,
.CodeMirror-gutter-filler {
	background-color: var(--cm-ttc-c-track) !important;
}
.CodeMirror {
	overflow: unset !important;
}
.CodeMirror-vscrollbar,
.CodeMirror-hscrollbar {
	display: none !important;
}
.CodeMirror-scroll {
	margin-bottom: unset !important;
	margin-right: unset !important;
	padding-bottom: unset !important;
}
/* END CODEMIRROR SCROLLS */
